<!DOCTYPE html>
@inject IPageService pageService
@inject IPageService CompanyService

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Forza_Otomotiv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>FORZA OTOMOTİV</title>
    <link rel="stylesheet" href="~/assets/js/bootstrap-4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:200i,300,300i,400,500,500i,600,600i,700,800,900">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/settings.css">
    <link rel="stylesheet" href="~/assets/css/layers.css">
    <link rel="stylesheet" href="~/assets/css/navigation.css">
    <link rel="stylesheet" href="~/assets/css/animated.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script type="text/javascript" src="~/assets/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/slider.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>

    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter .item .number p').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
</head>
<body>
<header>
    @await Component.InvokeAsync("LayoutLogoComponent")
    @await Component.InvokeAsync("LayoutHeadComponent")
    <p class="mobil-menu-open"><i class="zmdi zmdi-menu"></i> Menü</p>
    <div class="mobile-menu" style="display: none;">
        <a href="index-2.html">
            <div class="mobile-logo">
                <h1>FORZA OTOMOTİV</h1>
            </div>
        </a>
        <p class="mobile-menu-close"><i class="zmdi zmdi-close-circle-o"></i> Kapat</p>

        <div class="menu-icerik">
            <li>
                <a href="~/">Anasayfa</a>
            </li>
            @foreach (var item in await pageService.Sayfalar())
            {
                @if (item.Link != null && item.Link.Length > 5)
                {
                    <li>
                        <a href="@item.Link">@item.Name</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/Page/Index?Id=@item.Id">@item.Name</a>
                    </li>
                }
            }
            <li>
                <a href="https://b2b.forzaotomotiv.com.tr/Account/Login/?ReturnUrl=%2F">B2B Giriş</a>
            </li>
        </div>

    </div>
</header>

@RenderBody();


@await Component.InvokeAsync("LayoutComponent")


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>